@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.title {
  font-size: 18px;
  padding: 10px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 120px;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  border-radius: 5px;
  border: solid 1px rgb(46, 79, 82);
  background-color: transparent;
  transition: transform 0.3s ease;
}

.dataContainer:hover {
  transform: scale(1.1);
  background-color: rgb(46, 79, 82);
  color: #f4f4f4;
}

.dataContainer:hover img {
  filter: brightness(1.08) saturate(100);
}

.dataContainer:hover span {
  background-color: #f4f4f4;
}

.imgContainer {
  width: 220px;
  height: 150px;
  margin-top: 30px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: solid 1px black;
  object-fit: cover;
}

.hovered .img {
  filter: brightness(1.08) saturate(1.08);
}

.container {
  border-radius: 5px;
  border: solid 1px rgb(46, 79, 82);
  transform-style: preserve-3d;
  background: linear-gradient(45deg, #ffffff, #e6e6e6);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: perspective(1000px);
}

.container.hovered {
  z-index: 1;
  transform: scale(1.02);
  background: linear-gradient(45deg, #e6e6e6, #ffffff);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.container:hover .card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.linea {
  width: 70%;
  height: 1px;
  background-color: black;
}

.nameContinent {
  display: flex;
  align-items: center;
}

.nameContinent h3 {
  font-size: 15px;
  padding: 10px;
  margin-right: 18px;
}

.nameContinent img {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

/*? Mediaqueries */

@media (max-width: 690px) {
  .container {
    width: 225px;
    height: 325px;
  }

  .card {
    width: 100%;
    height: 100%;
    gap: 40px;
  }

  .imgContainer {
    margin-top: 13px;
    width: 180px;
    height: 130px;
  }

  .dataContainer {
    width: 180px;
    height: 110px;
  }

  .nameContinent h3 {
    font-size: 13px;
  }

  .title {
    font-size: 15px;
  }
}