.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
}

.earth {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: -20px -20px 0 -10px rgba(0, 0, 0, 0.15) inset,
    -60px -20px 0 0 rgba(0, 0, 0, 0.1) inset,
    5px 5px 0 0 rgba(255, 255, 255, 0.2) inset;
  background: url("../../../public/img/mapa.png") repeat-x;
  background-size: auto 100%;
  animation: rotate 15s infinite linear;
  position: absolute;
  right: 0;
  margin-right: 30px;
}

@keyframes rotate {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -495px center;
  }
}

.logo {
  font-size: 24px;
  color: black;
  font-weight: bold;
  line-height: 1.1;
  position: absolute;
  left: 1;
  margin-left: 10px;
}

.card{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  flex-wrap: wrap;
  padding: 0 10px;
}

.tarjet{
  margin: 0px;
  padding: 30px;
}

.container {
  display: flex;
}

.content {
  margin-left: 70px;
  flex-grow: 1;
}

.sidebarToggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
}

.sidebarToggle:hover {
  background-color: #e2dfdfa9;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  gap: 15px;
  margin: 0 auto;
}